<!DOCTYPE html>
<html>
<head>
  <title>Youtube Video Player</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
</br>
<div class="navbar">
  <%= link_to "Home", videos_path, id: "home" ,class: "a"  %> 
  <%= link_to "Upload", new_video_path, id: "new" ,class: "a"  %> 
  <% if current_user %>
    <%= link_to "Sign Out", signout_path, id: "sign_out" ,class: "a1"  %> 
  <% else %>
    <%= link_to "Sign In", "/auth/google_oauth2", id: "sign_in",class: "a1  " %>
  <% end %>
  <div class="a">
  <%= form_tag(videos_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] ,class: "input_search", placeholder: "Search" %>
  <%= submit_tag 'Search',class: "a"%>
  <% end %>    
  </div>
</div>
<div>
  <%= yield %>
</div>
</body>
</html>